* {
    margin: 0;
    box-sizing: border-box;
    /* background: #000000;
    color: #ffffff; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    background-color: #111;
    color: #ffffff;
}